input_dir/*
output/*
results/*
test-output/*
yolo-txt/*
archive/*

__pycache__/brown_score.cpython-39.pyc
__pycache__/image_preprocessing.cpython-39.pyc
__pycache__/roi_selection.cpython-39.pyc
__pycache__/config.cpython-39.pyc
.gitignore
sample.h5
__pycache__/config.cpython-39.pyc
__pycache__/utils.cpython-39.pyc
__pycache__/vggnet.cpython-39.pyc
__pycache__/config.cpython-39.pyc

utils.py
